* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    background: #0c0c0c;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
    --golbal-secondary: #0C0324;
    --global-purple: #3c1c92ab;
    --global-pink: #380e47a1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #bb63b3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eeafd1;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #48454d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #b9315a;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* -------------------------------------------- */
.container {
  max-width: 1200px;
}

nav.main-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0C0324;
}

nav.main-navbar .nav-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

nav.main-navbar a {
  color: #fff;
  text-decoration: none;
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 20px;
  padding: 5px 10px;
}

nav.main-navbar img {
  width: 220px;
}

section.hero {
  width: 100%;
  background-color: #fff;
  background-image: url('./assets/images/hero-contact.jpg');
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

section.hero .hero-container {
  width: 100%;
  max-width: 1200px;
  padding: 60px 40px;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.hero .hero-container h1 {
  font-size: 52px;
}

section.hero .hero-container h2 {
  font-weight: 400;
  font-size: 40px;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

section.hero .hero-container a{
  color: #fff;
  text-decoration: none;
}

.socialpayme {
  width: fit-content;
  font-size: 22px;
}

.socialpayme b {
  border-bottom: 1px solid #fff;
}

.content {
  padding: 40px;
}

footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
}

footer .social-footer {
  padding: 25px 50px 50px 50px;
  display: flex;
  gap: 35px;
}

@media (max-width: 650px) {
  .hero {
    position: relative;
  }

  section.hero .hero-container h1 {
    font-size: 38px;
  }

  section.hero .hero-container h2 {
    font-size: 30px;
  }

  .socialpayme {
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 20px;
  }

  nav.main-navbar .nav-container {
    flex-direction: column;
  }

  nav img {
    margin-bottom: 15px;
  }
  
}

/* plugin adjustments */
li {
  border: none !important;
}