* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    background: #000;
}

:root {
    --golbal-secondary: #0C0324;
    --global-purple: #3c1c92ab;
    --global-pink: #380e47a1;
}

nav.main-navbar {
    width: 100%;
    background-color: var(--golbal-secondary);
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container a {
    color: #fff;
    text-decoration: none;
    padding: 5px 0px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.nav-container img.logo {
    width: 170px;
}

.nav-items a {
    padding: 5px 10px;
}

section.hero {
    height: 20vh;
    background-image: linear-gradient(40deg, var(--global-purple) 0%, var(--global-pink) 100%), url('./hero-contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px
}

.hero-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.content {
    display: flex;
    justify-content: center;
    padding: 50px;
}

footer {
    height: 30vh;
    background: var(--golbal-secondary);
}


.content .container{
    width: 100%;
    max-width: 1200px;
}

.hero-container h2 {
    font-weight: 300;
    font-size: 33px;
}

.socialpayme a {
    color: #fff;
    font-style: none;
    text-decoration: none;
}